<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Title</title>
</head>
<body>

    <script th:inline="javascript">
      const result = [[${result}]];
      if(result){
        alert(result);
      }
    </script>

    <form action="/board/list" method="get">
      <input type="text" name="size" th:value="${pageRequestDTO.size}">
      <select name="type">
        <option value="">---</option>
        <option value="t"  th:selected="${pageRequestDTO.type == 't'}">제목</option>
        <option value='c' th:selected="${pageRequestDTO.type == 'c'}">내용</option>
        <option value='w' th:selected="${pageRequestDTO.type=='w'}">작성자</option>
        <option value="tc" th:selected="${pageRequestDTO.type=='tc'}">제목+내용</option>
        <option value="tcw" th:selected="${pageRequestDTO.type=='tcw'}">제목+내용+작성자</option>

      </select>
      <input type="text" name="keyword" th:value="${pageRequestDTO.keyword}">
      <button type="submit">검색</button>
      <button type="submit" class="clearBtn">clear</button>

    </form>


  <table>
    <thead>
      <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
        <th>등록일</th>
        <th>수정일</th>
      </tr>
    </thead>
    <tbody th:with="link = ${pageRequestDTO.getLink()}" >

      <th:block th:each="dtoList :${responseDTO.dtoList}">
        <tr>
          <td th:text="${dtoList.bno}"></td>
          <td>
            <a th:href="|@{/board/read(bno=${dtoList.bno})}&${link}|">
              [[${dtoList.title}]] <span class="badge bg-danger">[[${dtoList.replyCount}]]</span>
            </a>
          </td>
          <td th:text="${dtoList.content}"></td>
          <td th:text="${dtoList.writer}"></td>
          <td th:text="${dtoList.regDate}"></td>
          <td th:text="${dtoList.modDate}"></td>
        </tr>
      </th:block>

    </tbody>
  </table>

  <ul class="pagination">
    <li class="page-item" th:if="${responseDTO.prev}">
      <a class="page-link" th:data-num="${responseDTO.start-1}">Previous</a>
    </li>

    <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
      <li th:class="${responseDTO.page == i} ? 'page-item active':'page-item'">
        <a class="page-link" th:data-num="${i}">[[${i}]]</a>
      </li>
    </th:block>


    <li class="page-item" th:if="${responseDTO.next}">
      <a class="page-link" th:data-num="${responseDTO.end+1}">Next</a>
    </li>
  </ul>



  <script>

    document.querySelector(".pagination").addEventListener("click", function (e) {

      const target = e.target;

      if(target.tagName !== 'A'){
        return;
      }

      const num = target.getAttribute("data-num");
      console.log(num);

      const formObj = document.querySelector("form");

      console.log(formObj);
      //formObj.innerHTML += '<input type="text" name="page" value="'+num+'">';
      formObj.innerHTML += `<input type="text" name="page" value="${num}">`;

      console.log(formObj);

      formObj.submit();

      document.querySelector(".clearBtn").add("click",function (e){
        e.preventDefault();
        e.stopPropagation();

        self.location = '/board/list';


      });

    });


  </script>
</body>
</html>