<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>등록</h2>
<form action="/board/register" method="post">
    제목
    <input type="text" name="title"></input>
    내용
    <input type="text" name="content"></input>
    작성자
    <input type="text" name="writer"></input>
    <input type="submit" value="저장">
</form>

<script th:inline="javascript">
    const errors = [[${errors}]];
    console.log(errors);

    let errorMsg = '';

    if(errors){
        for(let i = 0 ; i<errors.length; i++){
            errorMsg += `${errors[i].field}은 ${errors[i].defaultMessage} \n`
        }

        alert(errorMsg);
    }

</script>

</body>
</html>